{% extends '::base.html.twig' %}
{% block title %}Configuraci&oacute;n{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">
		Esta es la pagina de configuracion
	</div>							
{% endblock %}

{% block javascripts %}
	{{ parent() }}		
{% endblock %}
