{% extends '::base.html.twig' %}
{% block title %}Usuarios{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Usuarios</div>
		<div class="izquierda">	
    		{# incluyo la plantilla con el form de edición de un usuario #}
    		<div class="sub-title">Modificar usuario</div>
			<form action="{{ path('usuario_update', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }}>  			
				{{ form_row(form._token) }}
				{# incluyo la plantilla del form de usuario #}
				{% include 'UsuarioBundle:Default:widget/form.html.twig' %}					
				<button type="submit">Aceptar</button>					 	  					   
		</form>
		</div>
		<div class="derecha">
			&nbsp;	    		
		</div>
	</div>							
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script type="text/javascript">
jQuery(document).ready(function() {
	 // Get the div that holds the collection of tags
	var collectionHolder = $('ul.clubes');
	// setup an "add a tag" link
	var $addClubLink = $('<a href="#" class="add_club_link">A&ntilde;adir club</a>');
	var $newLinkLi = $('<li></li>').append($addClubLink);
	    // add the "add a tag" anchor and li to the tags ul
	    collectionHolder.append($newLinkLi);

	    $addClubLink.on('click', function(e) {	    	
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addClubForm(collectionHolder, $newLinkLi);
	    });
	});

function addClubForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

	 // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

</script>	
{% endblock %}