<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Foto Cuadro | Login</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />        	        
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />        
    </head>    
    <body>
    <div id="contenedor"> <!-- contenedor -->
    	<header></header>    	
    	<!-- cuerpo del html -->
    	<article id="wrap">    		
    		<div class="contenido">
				{% if error %}
					<!-- MENSAJE DE AVISO -->
					<div class="aviso warning">			
					<img src="{{ asset('bundles/elplaneadorbackend/images/span_warning.gif') }}" alt="Warning" />
					{{ error.message|trans }}		
					</div>		
					<!-- /MENSAJE DE AVISO -->
				{% endif %}		
				<div class="box_login">	
					<img alt="FotografiArte" src="{{ asset('images/fotografiarte_logo.jpg') }}" />
					<form action="{{ path('login_check_usuario') }}" method="post">
						<!-- 
						<div class="title">Acceso</div>
						<label class="text">Escribe tu usuario y contrase&ntilde;a para acceder a la administraci&oacute;n</label>
						 -->
						<div class="clear"></div>					
					    <label for="username">Usuario</label>
					    <input id="username" type="text" name="_username" value="{{ last_username }}" />
					    <div class="clear"></div>		    		   
					    <label for="password">Contrase&ntilde;a</label>
					    <input id="password" type="password" name="_password" />
					    <div class="clear"></div>
					     
					    <input type="submit" name="login" value="Acceder" class="boton_acceder boton dcha" />
					</form>      	
				</div>
			</div>
    	</article>
		<!-- /cuerpo del html -->               	        	            			    	            
    </div> <!-- /contenedor -->
    </body>    
</html>