<div class="sub-title">Crear usuario</div>
<form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>  			
		{{ form_row(form._token) }}
		{# incluyo la plantilla del form de alta de usuario #}
		{% include 'UsuarioBundle:Default:widget/form.html.twig' %}	
		{# incluyo la plantilla del rol del usuario #}
		{# include 'UsuarioBundle:Default:widget/rol.html.twig' #}
		<button type="submit">Aceptar</button>					 	  					   
</form>




