{% extends '::base.html.twig' %}
{% block title %}Panel de control{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">	
		<div class="title">Panel de control</div>
		<div class="izquierda">	
			{# listado de pedidos #}
			<p>Listado de pedidos</p>    		
		</div>
		<div class="derecha">
			{% if form %}
				{# incluyo la plantilla con el form de alta de club #}
	    		{% include 'ClubBundle:Default:new.html.twig' %}
    		{% endif %}	    		
		</div>
	</div>							
{% endblock %}

{% block javascripts %}
	{{ parent() }}		
{% endblock %}
