<!-- Formulario general de un usuario  -->
<div class="box_ficha">
	{{ form_errors(form) }}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><strong>{{ form_label(form.nombre) }}</strong></td>
			<td>{{ form_widget(form.nombre, { 'attr': { 'size': '40'} }) }}</td> 
		</tr>
		<tr>
			<td><strong>{{ form_label(form.apellidos) }}</strong></td>
			<td>{{ form_widget(form.apellidos) }}</td>
		</tr>
		<tr>
			<td><strong>{{ form_label(form.rol) }}</strong></td>
			<td>{{ form_widget(form.rol) }}</td>			
		</tr>
		<tr>
			<td><strong>{{ form_label(form.email) }}</strong></td>
			<td>{{ form_widget(form.email) }}</td>			
		</tr>
		<tr>
			<td><strong>{{ form_label(form.telefono) }}</strong></td>
			<td>{{ form_widget(form.telefono) }}</td>			
		</tr>							
		<tr>
			<td><strong>{{ form_label(form.password) }}</strong></td>
			<td>{{ form_widget(form.password) }}</td>			
		</tr>
		<tr>
			<td><strong>{{ form_label(form.imagen) }}</strong></td>
			<td>{{ form_widget(form.imagen) }}</td>			
		</tr>
		<tr>
			<td><strong>{{ form_label(form.activo) }}</strong></td>
			<td>{{ form_widget(form.activo) }}</td>			
		</tr>
	</table>	
	<ul class="clubes" data-prototype="{{ form_widget(form.clubes.vars.prototype)|e }}">	
        {# iterate over each existing tag and render its only field: name #}
        {% for rol in form.clubes %}        	
            <li>{{ form_widget(form.clubes.vars.prototype.rol)|e }}</li>
        {% endfor %}
    </ul>        			
</div>








