<div id="listado_usuarios">	
	<div class="sub-title">Gesti&oacute;n</div>	
	<table cellspacing="2" cellpadding="2" border="0">
		    <thead>
		        <tr>		        	
		        	<th>Nombre</th>            	            	            
		            <th>Rol</th>		            
		        </tr>
		    </thead>
		    <tbody>			       		    	  
		    {% for usuario in lista %}		    		    			    		    
		        <tr>		        	   
		        	{# <td><a href="{{ path('usuario_edit', {'id' : usuario.id}) }}">{{ usuario.nombre ~ ' ' ~ usuario.apellidos }}</a></td> #} 		        	  
		            {# <td><a href="{{ path('usuario_edit', {'id' : usuario.id}) }}">{{ roles[usuario.rol] }}</a></td> #}
		            <td><a href="#">{{ usuario.nombre ~ ' ' ~ usuario.apellidos }}</a></td> 		        	  
		            <td><a href="#">{{ roles[usuario.rol] }}</a></td>		            		            
		        </tr>		        
		    {% endfor %}			      
		    </tbody>
		</table>
		{# aqui va el buscador #}
		{# include 'ElplaneadorBackendBundle:Ciudad:search.html.twig' #}
</div>