{% extends '::base.html.twig' %}
{% block title %}Fotos{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">{{ galeria.categoria.club.nombre ~ ' / ' ~ galeria.categoria.nombre }}</div>
		<div class="med-title">{{ galeria.nombre }}</div>
		<div class="centro">	
			<form action="{{ path('foto_create') }}" method="post" {{ form_enctype(form) }}>  			
				{{ form_row(form._token) }}
				<strong><label for="nombre">Crear foto</label></strong>
				{{ form_widget(form.archivo) }}
				<input type="hidden" id="foto_galeria" name="foto[galeria]" value="{{ galeria.id }}">												 					
				<button type="submit">Crear</button>
				{% if app.session.hasFlash('notice') %}
    				<div class="flash-notice">
        				{{ app.session.flash('notice') }}
    				</div>
				{% endif %}					 	  					 
			</form>		
    		{# incluyo la plantilla con el listado de fotos de la galeria #}
    		{% include 'GaleriaBundle:Default:widget/listado_fotos.html.twig' %}
		</div>
	</div>							
{% endblock %}