{% extends '::base.html.twig' %}
{% block title %}Galerías{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}
{% block contenido %}
	<div class="contenido">			
		<div class="title">{{ categoria.club.nombre ~ ' / ' ~ categoria.nombre}}</div>
		<div class="centro">
			<form action="{{ path('galeria_create') }}" method="post" {{ form_enctype(form) }}>  			
				{{ form_row(form._token) }}
				<strong><label for="nombre">Crear galer&iacute;a</label></strong>
				{{ form_widget(form.nombre, { 'attr': { 'size': '30'} }) }}
				<input type="hidden" id="galeria_categoria" name="galeria[categoria]" value="{{ categoria.id }}">												 					
				<button type="submit">Crear</button>
				{% if app.session.hasFlash('notice') %}
    				<div class="flash-notice">
        				{{ app.session.flash('notice') }}
    				</div>
				{% endif %}					 	  					   
			</form>
    		{# incluyo la plantilla con el listado de galerias #}
    		{% include 'GaleriaBundle:Default:widget/listado.html.twig' %}
		</div>
	</div>
	
	<button type="button" onclick="location.href='{{ path('club_edit', {'id' : categoria.club.id }) }}';" value="volver" name="volver">Volver</button>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}


