<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Foto Cuadro | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />  
        	<link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" type="text/css" media="all" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />        
    </head>    
    <body>
    <div id="contenedor"> <!-- contenedor -->
    	<header>		
    		{# cabecera fija para toda la aplicacion #}    
			{% include '::cabecera.html.twig' %}    			    		    		    	
    	</header>    	
    	<!-- cuerpo del html -->
    	<article id="wrap">
    		<div class="menu">
	    		{# plantilla con el logo de la aplicacion #}
				{% include '::logo.html.twig' %}
				{# plantilla con el menu general de la aplicacion #}    
				{% include '::menu.html.twig' %}
    		</div>
    		<div class="contenido">
    			{% block contenido %}{% endblock %}
    		</div>
    	</article>
		<!-- /cuerpo del html -->
        <!-- Pie -->
        <footer>		
			{# plantilla con el footer #}    
			{% include '::footer.html.twig' %}
		</footer>		      
        <!-- /Pie -->
                	        	            			    	     
        {% block javascripts %}  
        	<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('js/jquery.colorbox-min.js') }}"></script>  
        	<script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>        	  	      	        	
        {% endblock %}
    </div> <!-- /contenedor -->
    </body>    
</html>
