<div class="cabecera">
	<div id="menu_usuario">
		{# incluyo la plantilla con el menú del usuario #}
		{% include '::menu_usuario.html.twig' %}	
	</div>
    <div id="opciones">
    	{# incluyo la plantilla con las opciones de la cabecera #}
    	{% include '::opciones.html.twig' %}    
    </div>  
</div>
