{# template para la generación del menu con las opciones de la aplicacion #}
<ul>
   	<li><a id="menu_panel" href="{{ path('menu_panel') }}" >Panel de control</a></li>
	<li><a id="menu_pedido" href="{{ path('menu_pedido') }}" >Pedidos</a></li>
	<li><a id="menu_club" href="{{ path('menu_club') }}" >Clubes</a></li>
	<li><a id="menu_usuario" href="{{ path('menu_usuario') }}" >Usuarios</a></li>	    	
</ul>	