{% extends '::base.html.twig' %}
{% block title %}Clubes{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Clubes</div>
		<div class="centro">	
    		{# incluyo la plantilla con el form de edición de un club #}
    		<div class="sub-title">Modificar club</div>
			<form action="{{ path('club_update', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }}>  			
				{{ form_row(form._token) }}
				<!-- Formulario general de un club  -->
				<div class="box_ficha">
				{{ form_errors(form) }}					
				{% set readonly = app.user.rol is constant('\\FotoCuadro\\UsuarioBundle\\Entity\\Usuario::ROL_FOTOGRAFO') %}
												
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><strong>{{ form_label(form.nombre) }}</strong></td>
						<td>{{ readonly ? form_widget(form.nombre, { 'attr': { 'size': '40', 'readonly': 'readonly'} }) : form_widget(form.nombre, { 'attr': { 'size': '40'} }) }}</td>						 
					</tr>
					{# imagen del club #}
					{% if entity.imagen and entity.imagen != '' %}						
					<tr>
						<td>&nbsp;</td>
						<td>
    						<img class="imagen_club" src="{{ asset('fotos/club/' ~ entity.imagen) }}" width="200" />  			
        					<input name="ruta_imagen" id="ruta_imagen" type="hidden" value="{{ entity.imagen }}"/>
        				</td>
        			</tr>            	                 
					{% endif %}	
					<tr>
						<td><strong>{{ form_label(form.imagen) }}</strong></td>						
						<td>{{ readonly ? form_widget(form.imagen, { 'attr': { 'size': '40', 'disabled': 'disabled'} }) : form_widget(form.imagen, { 'attr': { 'size': '40'} }) }}</td>		
					</tr>		
					<tr>
						<td><strong>{{ form_label(form.direccion) }}</strong></td>
						<td>{{ readonly ? form_widget(form.direccion, { 'attr': { 'readonly': 'readonly'} }) : form_widget(form.direccion) }}</td>
					</tr>
					<tr>
						<td><strong>{{ form_label(form.ciudad) }}</strong></td>
						<td>{{ readonly ? form_widget(form.ciudad, { 'attr': { 'readonly': 'readonly'} }) : form_widget(form.ciudad) }}</td>		
					</tr>
					<tr>
						<td><strong>{{ form_label(form.telefono) }}</strong></td>
						<td>{{ readonly ? form_widget(form.telefono, { 'attr': { 'readonly': 'readonly'} }) : form_widget(form.telefono) }}</td>			
					</tr>		
					<tr>
						<td><strong>{{ form_label(form.email) }}</strong></td>
						<td>{{ readonly ? form_widget(form.email, { 'attr': { 'readonly': 'readonly'} }) : form_widget(form.email) }}</td>	
					</tr>			
					<tr>
						<td><strong>{{ form_label(form.activo) }}</strong></td>
						<td>{{ readonly ? form_widget(form.activo, { 'attr': { 'disabled': 'disabled'} }) : form_widget(form.activo) }}</td>	
					</tr>
				</table>	
				<ul class="categorias" data-prototype="{{ form_widget(form.categorias.vars.prototype)|e }}">	
			        {# iterate over each existing tag and render its only field: name #}
			        {% for categoria in form.categorias %}        	
			            <li id="li{{ categoria.vars.value.id }}">{{ form_widget(categoria) }}
			            {% if not readonly %}
			            	<a class="del_categoria" id="{{ categoria.vars.value.id }}" href="#">Eliminar</a>	
			            	&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ path('categoria_galerias', {'club' : entity.id, 'id' : categoria.vars.value.id}) }}">Galer&iacute;as</a>
			            	<br />		            	
			            {% endif %} 			            
			            </li>									            
			        {% endfor %}
			    </ul>    					
				{% if not readonly %}
					<button type="submit">Aceptar</button>
					<a title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar el club?');" href="{{ path('club_delete', { 'id': entity.id }) }}">
					<button type="button">Eliminar</button></a>
				{% endif %}					 	  					   				
				<button type="button" onclick="location.href='{{ path('menu_club') }}';" value="volver" name="volver">Volver</button>
			</form>
		</div>		
	</div>							
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script type="text/javascript">
jQuery(document).ready(function() {
	 // Get the div that holds the collection of tags
	var collectionHolder = $('ul.categorias');
	// setup an "add a tag" link
	var $addCategoriaLink = $('<br /><a href="#" class="add_categoria_link">A&ntilde;adir categoria</a>');
	var $newLinkLi = $('<li></li>').append($addCategoriaLink);
	    // add the "add a tag" anchor and li to the tags ul
	    collectionHolder.append($newLinkLi);

	    $addCategoriaLink.on('click', function(e) {	    	
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addCategoriaForm(collectionHolder, $newLinkLi);
	    });
	});

function addCategoriaForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

	 // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

$(".del_categoria").click(function(event){
	// prevent the link from creating a "#" on the URL
    event.preventDefault();	
    var answer = confirm('¿Seguro que quieres eliminar la categoría?');
    if(answer){
		var index = $(this).attr("id");	 	     
		$('#li'+index).remove()
    }   					 
});		

</script>	
{% endblock %}