{% extends '::base.html.twig' %}
{% block title %}Clubes{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">
		<div class="title">Clubes</div>
		<div class="izquierda">	
			{% if lista %}			    			
    			{# incluyo la plantilla con el listado de usuarios #}
    			{% include 'ClubBundle:Default:widget/listado.html.twig' %}
    		{% else %}
    			<p>No hay clubes para mostrar</p>	    			
    		{% endif %}    		
		</div>
		<div class="derecha">
			{% if form %}
				{# incluyo la plantilla con el form de alta de club #}
	    		{% include 'ClubBundle:Default:new.html.twig' %}
    		{% endif %}	    		
		</div>
		
	</div>							
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
jQuery(document).ready(function() {
	 // Get the div that holds the collection of tags
	var collectionHolder = $('ul.categorias');
	// setup an "add a tag" link
	var $addCategoriaLink = $('<a href="#" class="add_categoria_link">A&ntilde;adir categor&iacute;a</a>');
	var $newLinkLi = $('<li></li>').append($addCategoriaLink);
	    // add the "add a tag" anchor and li to the tags ul
	    collectionHolder.append($newLinkLi);

	    $addCategoriaLink.on('click', function(e) {	    	
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addCategoriaForm(collectionHolder, $newLinkLi);
	    });
	});

function addCategoriaForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

	 // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

</script>		
{% endblock %}

