<div class="sub-title">Crear club</div>
<form action="{{ path('club_create') }}" method="post" {{ form_enctype(form) }}>  			
		{{ form_row(form._token) }}
		{# incluyo la plantilla del form de alta de club #}
		{% include 'ClubBundle:Default:widget/form.html.twig' %}			
		<button type="submit">Aceptar</button>					 	  					   
</form>




