<!-- Formulario general de un club  -->
<div class="box_ficha">
	{{ form_errors(form) }}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><strong>{{ form_label(form.nombre) }}</strong></td>
			<td>{{ form_widget(form.nombre, { 'attr': { 'size': '40'} }) }}</td> 
		</tr>
		<tr>
			<td><strong>{{ form_label(form.imagen) }}</strong></td>
			<td>{{ form_widget(form.imagen) }}</td>			
		</tr>		
		<tr>
			<td><strong>{{ form_label(form.direccion) }}</strong></td>
			<td>{{ form_widget(form.direccion) }}</td>
		</tr>
		<tr>
			<td><strong>{{ form_label(form.ciudad) }}</strong></td>
			<td>{{ form_widget(form.ciudad) }}</td>			
		</tr>
		<tr>
			<td><strong>{{ form_label(form.telefono) }}</strong></td>
			<td>{{ form_widget(form.telefono) }}</td>			
		</tr>		
		<tr>
			<td><strong>{{ form_label(form.email) }}</strong></td>
			<td>{{ form_widget(form.email) }}</td>			
		</tr>			
		<tr>
			<td><strong>{{ form_label(form.activo) }}</strong></td>
			<td>{{ form_widget(form.activo) }}</td>			
		</tr>
	</table>	
	<ul class="categorias" data-prototype="{{ form_widget(form.categorias.vars.prototype)|e }}">	
        {# iterate over each existing tag and render its only field: name #}
        {% for categoria in form.categorias %}        	
            <li>{{ form_widget(form.categorias.vars.prototype.categoria)|e }}</li>
        {% endfor %}
    </ul>        			
</div>








