<div id="listado_clubes">	
	<div class="sub-title">Gesti&oacute;n</div>	
	<table cellspacing="2" cellpadding="2" border="0">
		    <thead>
		        <tr>		        	
		        	<th>&nbsp;</th>            	            	            
		            <th>Equipo</th>		            
		        </tr>
		    </thead>
		    <tbody>			       		    	  
		    {% for club in lista %}		    		    			    		    
		        <tr>		        	   
		        	<td>
		        	{% if club.imagen and club.imagen != '' %}						
    					<img alt="{{ club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ club.imagen) }}" width="40" />  			        			        				        	                
					{% endif %}
					</td>
		        	<td><a href="{{ path('club_edit', {'id' : club.id}) }}">{{ club.nombre }}</a></td>
		        	{# if rol is constant('\\FotoCuadro\\UsuarioBundle\\Entity\\Usuario::ROL_FOTOGRAFO')  #}		        	
		        </tr>		        
		    {% endfor %}			      
		    </tbody>
		</table>
		{# aqui va el buscador #}
		{# include 'ElplaneadorBackendBundle:Ciudad:search.html.twig' #}
</div>