/*
Theme Name: Fotocuadro
Author: Conqueingredientes
Author URI: http://www.conqueingredientes.com/
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.1
Tags: light, gmail
Description: CSS para aplicación FotoCuadro
*/

@CHARSET "UTF-8";

/*** RESET ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear: both;
}
br {
	line-height: 10px;
}
:hover {
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
input, textarea {
	background-color:#f6f6f6;
	border:none;
	margin:10px 10px 0px 10px;
	padding:6px;
	height:24px;
	width:180px;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
}
input:hover, textarea:hover {
	background-color:#bd323a;
}
input:focus, textarea:focus {
	background-color:#666;
	color:#fff;
	font-weight:bold;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}
a {
	color:#1b6aad;
	text-decoration:none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	color:#9F1C24;
}
::selection {
        background: #9f1c24; /* Safari */
        color: #FFF;
        }
::-moz-selection {
        background: #9f1c24; /* Firefox */
        color: #FFF;
}
.izda {
	float:left;
}
.dcha {
	float:right;
}
.align_izda {
	text-align:left;
}
.align_dcha {
	text-align:right;
}	
button, .boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1363d;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1363d;
	box-shadow:inset 0px 1px 0px 0px #c1363d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1363d), color-stop(1, #a01e25) );
	background:-moz-linear-gradient( center top, #c1363d 5%, #a01e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1363d', endColorstr='#a01e25');
	background-color:#c1363d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a01e25;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #333333;
	cursor:pointer;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
.boton:hover, button:hover, .boton_big:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a01e25), color-stop(1, #c1363d) );
	background:-moz-linear-gradient( center top, #a01e25 5%, #c1363d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a01e25', endColorstr='#c1363d');
	background-color:#a01e25;
}
.boton:active, .boton_big:active {
	position:relative;
	top:1px;
}
button, .boton {
	font-size:14px;
	padding:8px 16px;
	margin:10px 0px;
}
.boton_big {
	font-size:24px;
	padding:16px 30px;
	margin:10px 0px;
}
/*** GENERAL ***/

html, body {
	height:100%;
	width:100%;
}

body {
	background-color: #FFFFFF;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	color: #666666;
}
#wrap .menu {
	width:20%;
	min-height:500px;
	background-color: #f7f7f7;
	float:left;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	z-index:2;
	background:url(../images/menu_bg.jpg) repeat-x;
}

#wrap .contenido {
	display:inline;
	float:left;
	padding:22px 0px 20px 18px;
	width:76%;
	min-width:730px;
	max-width:1230px;
}
.izquierda {
	float:left;
	min-width:300px;
	width:30%;	
	margin-right:20px;
	border:1px solid #ebebeb;
	padding:22px 18px;
}
.derecha {
	float:right;
	width:30%;
	border:1px solid #ebebeb;
	padding:22px 18px;
	min-width:300px;
}
.centro {
	width:100%;
}
h2, .title {
	font-size:18px;
	color:#a01e25;
	margin:20px 0px;
	font-weight:bold;
}
.logo {
	margin:16px 4px;
	width:160px;
	height:98px;
	padding:14px 16px;
	background-color: #f7f7f7;
	background-image:url(../images/logo_bg.jpg);
}

.cabecera {
	float:right;
	text-align:right;
	height:42px;
	width:80%;
	background:url(../images/cabecera_bg.jpg) repeat-x;
	padding-top:10px;
	display:block;
	position:relative;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	z-index:10;
}
.cabecera #menu_usuario, .cabecera #opciones {
	padding-right:20px;
}

footer {
	clear:both;
	position: fixed;
	bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding:20px;
	padding-left:45%;
	width:100%;
	border-top:1px solid #ebebeb;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	background:url(../images/footer_bg.jpg) repeat-x;
}

/*** LOGIN ***/
.box_login {
	background-color:#f7f7f7;
	width:344px;
	height:220px;
	padding:20px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -152px;
	margin-top: -75px; 
	text-align:center;
}
.box_login input{
	background-color:#fff;
}

.box_login input:hover{
	background-color:#bd323a;
}
.box_login input:focus{
	background-color:#666;
	color:#fff;
	font-weight:bold;
}
.boton_acceder {
	cursor:pointer;
	width:100px;
	height:30px;
}
/*** MENU ***/
#wrap .menu ul li {
	padding:16px 22px;
	border-top:1px solid #ebebeb;	
}
#wrap .menu ul li:last-child {
	border-bottom:1px solid #ebebeb;
}
#wrap .menu ul li:hover {
	background-color:#fff;
	border-left:5px solid #a01e25;
	color:#000;
	cursor:pointer;
}
#wrap .menu ul li a{
	color:#666;
}
#wrap .menu ul li a:hover, #wrap .menu ul li a:active{
	color:#9d161f;
}


/*** CLUB ***/
.add_categoria_link {
	clear:both;
	padding:10px 0px;
	color:#666;
}

/*** GALERÍA ***/
.listado_fotos, .listado_galerias {
	display:inline;
	float:left;
	min-width:700px;
	max-width:1000px;
}
.caja_galeria, .caja_foto {
	display:inline;
	float:left;
	width:210px;
	margin-right:16px;
}
.caja_galeria img, .caja_foto img{
	display:inline;
	float:left;
	margin:6px;
}
.caja_galeria img {
	border:4px solid #999;
}
.caja_galeria img:hover, .caja_foto a img:hover {
	border:4px solid #666;
}
.caja_galeria img:active, .caja_foto a img:active {
	border:4px solid #a01f27;
}
.caja_foto a img.delete {
	border:none;
	display:inline;
	float:right;
	padding-right:6px;
}

/*** FOTOS PEDIDO ***/
.image-checkbox-container input[type="checkbox"]{
    /*display: none;*/
}
.image-checkbox-container {
	display:inline;
	float:left;
}
.image-checkbox-container {
	height:200px;
}
.image-checkbox-container a img {
	display:inline;
	float:left;
	margin:6px;
}
.image-checkbox-container a img {
	border:none;
}
.image-checkbox-container a:hover {
	border:none;
}

.checklist {
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
	display:inline;
}

.checklist li {
	float: left;
	margin-right: 10px;
	background: url(../images/checkboxbg.jpg) 0 0 no-repeat;
	padding-top:2px;
	padding-left:1px;
	height: 205px;
	width:214px;
	position: relative;
	font-size: 12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}

.checklist li.selected {
	background-position: -215px 0;
}

.checklist li.selected .checkbox-select {
	display: none;
}

.checkbox-select {
	display: block;
	float: left;
	position: absolute;
	top: 172px;
	left: 100px;
	width: 85px;
	height: 23px;
	background: url(../images/select.jpg) no-repeat 0 0;
	text-indent: -9999px;
}

.checklist li input {
	display: none;	
}

a.checkbox-deselect {
	display: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: 176px;
	right: 40px;
	font-size:14px;
}

.checklist li.selected a.checkbox-deselect {
	display: block;
}

.checklist label {
	display: block;
	text-align: center;
	padding: 8px;
}