<div id="listado_pedidos">	
	<div class="sub-title">Gesti&oacute;n</div>		
	<table cellspacing="2" cellpadding="2" border="0">		
	    <thead>
	        <tr>		        	
	        	<th>ID Pedido</th>            	            	            
	            <th>Fecha</th>		            
	            <th>Importe</th>
	            <th>Usuario</th>
	            <th>Estado</th>
	        </tr>
	    </thead>
	    <tbody>			       		    	  
	    {% for pedido in pedidos %}		    		    			    		    
	        <tr>
	        	<td><a href="{{  path('pedido_edit', {'id' : pedido.id}) }}">{{ pedido.id }}</a></td>					        		        			        	  
	        	<td>{{ pedido.fecha|date("m/d/Y") }}</td>
	        	<td>{{ pedido.importe }} &euro;</td>
	        	<td>{{ pedido.usuario.nombre ~ ' ' ~ pedido.usuario.apellidos }}</td>
	        	<td>{{ estados[pedido.estado] }}</td>	        		        			        
	        </tr>		        
	    {% endfor %}			      
	    </tbody>
	</table>
	{# aqui va el buscador #}
	{# include 'ElplaneadorBackendBundle:Ciudad:search.html.twig' #}
</div>