<div id="tabla_categorias">	
	<span class="sub-title">{{ club.nombre }}</span>
	{% if club.imagen and club.imagen != '' %}						
    	<img alt="{{ club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ club.imagen) }}" width="60" />  			        			        				        	                
	{% endif %}	
	<br /><br />
	<div class="sub-sub-title">Categor&iacute;as</div>	
	    {% set i = 0 %}		    		  
	    {% for categoria in club.categorias %}		    	
	    	{% if i == 0 %}    				    			    		
	    	{% endif %}	   			    		
	    		<button type="button" class="boton_big" onclick="location.href='{{ path('pedido_new_galerias', {'categoria':categoria.id}) }}';" name="{{ categoria.nombre }}">{{ categoria.nombre }}</button>
	    	{% set i = i+1 %}   	
	    	{% if i == 2 %}
	    		{% set i = 0 %}
	    	{% endif %}		    			    			    			    	      
    		{% else %}
        		<p>No hay categor&iacute;s para mostrar</p>
    		{% endfor %}
</div>