<div id="tabla_galerias">	
	<div class="sub-title">{{ categoria.club.nombre }} / {{ categoria.nombre }}</div>
	{% if categoria.club.imagen and categoria.club.imagen != '' %}						
    	<img alt="{{ categoria.club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ categoria.club.imagen) }}" width="60" />    	  			        			        				        	                
	{% endif %}
	<br />		
    {% set i = 0 %}		    		  
    {% for galeria in categoria.galerias %}		    	
    	{% if i == 0 %}    				    			    		
    	{% endif %}	
    		<div class="caja_galeria">	    		
	    		<a title="{{ galeria.nombre }}" href="{{ path('pedido_new_fotos', {'galeria' : galeria.id }) }}">	    			    	
    		<img alt="{{ galeria.nombre }}" width="200" alt="{{ galeria.nombre }}" src="{{ asset('fotos/galeria/' ~ galeria.portada ) }}">
			<br />&nbsp;&nbsp;&nbsp;{{ galeria.nombre }}
			<br />&nbsp;&nbsp;&nbsp;{{ galeria.fecha|date("d/m/Y") }}
				</a>    		
    		</div>	
	    	{% set i = i+1 %}   	
    	{% if i == 4 %}
    		{% set i = 0 %}
    	{% endif %}		    			    			    			    	      
    		{% else %}
        		<p>No hay galer&iacute;as para mostrar</p>
    		{% endfor %}       
</div>