<div class="clear"></div>
<div id="listado_fotos">
	<div class="sub-title">{{ galeria.categoria.club.nombre }} / {{ galeria.categoria.nombre }}</div>
	{% if galeria.categoria.club.imagen and galeria.categoria.club.imagen != '' %}						
    	<img alt="{{ galeria.categoria.club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ galeria.categoria.club.imagen) }}" width="60" />  			        			        				        	                
	{% endif %}	
	<form action="{{ path('pedido_new_seleccion') }}" method="post" > 
		<input type="hidden" name="galeria_id" value="{{ galeria.id }}"> 
		    {% set i = 0 %}		    
		    <ul class="image-checkbox-container checklist">		  
		    {% for foto in galeria.fotos %}		    	
		    	{% if i == 0 %}    				    			    		
		    	{% endif %}	
		    		<li>		
	        			{% if foto.archivo and foto.archivo != '' %}	
	        			 	<a class="fotos" href="{{ asset('fotos/galeria/' ~ galeria.id ~ '/' ~ foto.archivo) }}">					
	    					<img alt="{{ foto.nombre }}" class="foto" src="{{ asset('fotos/galeria/' ~ galeria.id ~ '/' ~ foto.archivo) }}" width="200" />
	    					</a>  			        			        				        	                
						{% endif %}
	        			<input type="checkbox" name="fotos_pedido[]" value="{{ foto.id }}" />
	        			<a class="checkbox-select" href="#">Seleccionar</a>
						<a class="checkbox-deselect" href="#">Cancelar</a>
					</li>
		    	{% set i = i+1 %}   	
		    	{% if i == 4 %}
		    		{% set i = 0 %}
		    	{% endif %}		    			    			    			    	      
	    		{% else %}
	        		<p>No hay fotos para mostrar</p>
	    	{% endfor %}
		    </ul>	
	{% if app.session.hasFlash('notice') %}
    	<div class="flash-notice">
        	{{ app.session.flash('notice') }}
    	</div>
	{% endif %}						 	  					   
	</form>	
</div>
<div class="clear"></div>
<button type="submit" class="boton_big">Continuar</button>