<div class="sub-title">{{ categoria.club.nombre }} / {{ categoria.nombre }}</div>
{% if categoria.club.imagen and categoria.club.imagen != '' %}						
    	<img alt="{{ categoria.club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ categoria.club.imagen) }}" width="60" />  			        			        				        	                
{% endif %}	
<br /><br />
<div class="izquierda">
	{% if foto.archivo and foto.archivo != '' %}						
    	<img alt="{{ foto.nombre }}" class="foto" src="{{ asset('fotos/galeria/' ~ galeria.id ~ '/' ~ foto.archivo) }}" width="300" />  			        			        				        	                
	{% endif %}
</div>
<div class="derecha">
	{% if indice is not null%}
		{% set accion = 'pedido_guardar_producto' %}
	{% else %}
		{% set accion = 'pedido_confirmar' %}		
	{% endif %}	
	<form action="{{ path(accion) }}" method="post" > 
		<input type="hidden" name="galeria_id" value="{{ galeria.id }}"> 								
		<input type="hidden" name="indice_foto" value="{{ indice }}">
		<input type="hidden" name="fotoId" value="{{ foto.id }}">
		<table cellspacing="2" cellpadding="2" border="0" width="80%">
			<thead>
		        <tr>		        	
		        	<th>&nbsp;</th>            	            	            
		            <th>Uds.</th>
		            <th>PVP</th>
		            <th>Total</th>		            
		            <th>&nbsp;</th>
		        </tr>
			  </thead>
		    <tbody>			    		    		  
		    {% for tipo in tipos %}		    			    	
		    	<tr>		    				    			    				    			    			
		    		<td><button type="button" name="tipo_producto">{{ tipo.nombre }}</button></td>
		    		<td><input type="text" size="6" maxlength="2" name="tipo_cantidad[]"></td>	
		    		<td><input type="text" size="6" name="tipo_pvp[]" readonly="readonly" value="{{ tipo.precio }}"></td>
		    		<td><input type="text" size="6" name="tipo_importe[]" readonly="readonly"></td>
		    		<td><img alt="Borrar" src="{{ asset('images/btn_borrar.gif') }}" /></td>
		    	</tr>		    			    			    			    			    	    
	    	{% else %}
	        	<p>Ha ocurrido un error al preparar el pedido</p>
	    	{% endfor %}        		       		    	  		    			     
		    </tbody>
		</table>
		{% if indice is not null %}
			<button type="submit">Siguiente</button>
		{% else %}
			<button type="submit">Confirmar pedido</button>			
		{% endif %}				 	  					   
	</form>				   	
</div>


