<div id="tabla_clubes">	
	<div class="sub-title">Seleccione el club</div>		
	<table cellspacing="2" cellpadding="2" border="0">
		<thead>
	        <tr>		        	
	        	<th>&nbsp;</th>            	            	            
	            <th>&nbsp;</th>
	            <th>&nbsp;</th>
	            <th>&nbsp;</th>		            
	        </tr>
		  </thead>
	    <tbody>	
	    {% set i = 0 %}		    		  
	    {% for club in lista %}		    	
	    	{% if i == 0 %}
	    		<tr>		    				    			    		
	    	{% endif %}		    			 
	    	<td>	    		
	    		<div class="caja_club">	    		
	    		<a title="{{ club.nombre }}" href="{{ path('pedido_new_categorias', {'idClub' : club.id }) }}">	    		
	    		{# imagen del club #}
				{% if club.imagen and club.imagen != '' %}						
    				<img alt="{{ club.imagen }}" class="foto" src="{{ asset('fotos/club/' ~ club.imagen) }}" height="200" />  			        			        				        	                
				{% endif %}
				<br />{{ club.nombre }}
				</a> 	    		
	    		</div>	
	    	</td>
	    	{% set i = i+1 %}   	
	    	{% if i == 4 %}
	    		{% set i = 0 %}
	    		</tr>
	    	{% endif %}		    			    			    			    	      
    		{% else %}
        		<p>No hay clubes para mostrar</p>
    		{% endfor %}        		       		    	  		    			     
	    </tbody>
	</table>	
</div>