<div class="clear"></div>
<div id="listado_fotos">	
	<!--<div class="sub-title">Fotos</div>-->	
	<button type="button" onclick="location.href='{{ path('categoria_galerias', {'club' : galeria.categoria.club.id, 'id' : galeria.categoria.id }) }}';" value="volver" name="volver">Volver</button>
	    {% set i = 0 %}		    		  
	    {% for foto in galeria.fotos %}		    	
	    	{% if i == 0 %}
	    	{% endif %}		    			 
    		<div class="caja_foto">
	    		<a class="fotos" href="{{ asset('fotos/galeria/' ~ galeria.id ~ '/' ~ foto.archivo) }}">
	    		{# imagen del club #}
				{% if foto.archivo and foto.archivo != '' %}						
	    				<img alt="{{ foto.nombre }}" src="{{ asset('fotos/galeria/' ~ galeria.id ~ '/' ~ foto.archivo) }}" width="200" />  			        			        				        	                
				{% endif %}
				</a>
				<br />
				&nbsp;&nbsp;&nbsp;{{ foto.nombre }}
	    		<a title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar la foto?');" href="{{ path('foto_delete', {'id' : foto.id }) }}"><img src="{{ asset('images/delete.png') }}" alt="Eliminar" width="20" class="delete" /></a>
    		</div>	
    	{% set i = i+1 %}   	
	    	{% if i == 4 %}
	    		{% set i = 0 %}
	    	{% endif %}		    			    			    			    	      
    		{% else %}
        		<p>No hay fotos para mostrar</p>
    		{% endfor %}
</div>
<div class="clear"></div>