<div id="listado_galerias">	
	<!--  <div class="sub-title">Galer&iacute;as</div>-->
    {% set i = 0 %}		    		  
    {% for galeria in categoria.galerias %}		    	
    	{% if i == 0 %}    				    			    		
    	{% endif %}			
    		<div class="caja_galeria">
	    		<a href="{{ path('galeria_show', {'id' : galeria.id }) }}"><img alt="{{ galeria.nombre }}" width="200" alt="{{ galeria.nombre }}" src="{{ asset('fotos/galeria/' ~ galeria.portada ) }}"><br /></a>
    		{{ galeria.nombre }}
    		<a title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar la galería?');" href="{{ path('galeria_delete', {'id' : galeria.id }) }}">Eliminar</a> 	    		
    		</div>	   
	    	{% set i = i+1 %}   	
    	{% if i == 4 %}
    		{% set i = 0 %}
    	{% endif %}		    			    			    			    	      
    		{% else %}
        		<p>No hay galerías para mostrar</p>
    		{% endfor %}
</div>