{% extends '::base.html.twig' %}
{% block title %}Pedidos{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Pedidos</div>				    
		<form action="{{ path('pedido_crear') }}" method="post">  						
			<div class="centro">	
				<!-- Formulario general de un club  -->
				<div class="box_ficha">	
					<div class="sub-title">Cliente</div>																						
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><strong>{{ form_label(form.nombre) }}</strong></td>
							<td>{{ form_widget(form.nombre, { 'attr': { 'size': '40'} }) }}</td>						 
						</tr>										
						<tr>
							<td><strong>{{ form_label(form.apellidos) }}</strong></td>
							<td>{{ form_widget(form.apellidos) }}</td>
						</tr>
						<tr>
							<td><strong>{{ form_label(form.email) }}</strong></td>
							<td>{{ form_widget(form.email) }}</td>	
						</tr>
						<tr>
							<td><strong>{{ form_label(form.telefono) }}</strong></td>
							<td>{{ form_widget(form.telefono) }}</td>			
						</tr>														
					</table>
					<br /><br />	
					<table width="30%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>TOTAL</td>
							<td>A cuenta</td>
						</tr>
						<tr>
							<td><input type="text" disabled="disabled" value="{{ total }}" size="20"></td>
							<td><input type="text" value="" name="acuenta" value="0" size="20"></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>A PAGAR</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><input type="text" disabled="disabled" value="" size="20"></td>
						</tr>
					</table>
					<button type="submit">Terminar</button>
					<button type="button" value="volver" name="volver">Volver</button>
			</div>			
		</form>
				
	</div>							
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script type="text/javascript">
jQuery(document).ready(function() {
	 // Get the div that holds the collection of tags
	var collectionHolder = $('ul.categorias');
	// setup an "add a tag" link
	var $addCategoriaLink = $('<a href="#" class="add_categoria_link">A&ntilde;adir categoria</a>');
	var $newLinkLi = $('<li></li>').append($addCategoriaLink);
	    // add the "add a tag" anchor and li to the tags ul
	    collectionHolder.append($newLinkLi);

	    $addCategoriaLink.on('click', function(e) {	    	
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addCategoriaForm(collectionHolder, $newLinkLi);
	    });
	});

function addCategoriaForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

	 // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

$(".del_categoria").click(function(event){
	// prevent the link from creating a "#" on the URL
    event.preventDefault();	
    var answer = confirm('¿Seguro que quieres eliminar la categoría?');
    if(answer){
		var index = $(this).attr("id");	 	     
		$('#li'+index).remove()
    }   					 
});		

</script>	
{% endblock %}