{% extends '::base.html.twig' %}
{% block title %}Pedidos{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Pedidos</div>		
    	{# incluyo la plantilla con el form de edición de un pedido #}
    		<div class="sub-title">Pedido #{{ entity.id }}</div>
    		<div class="sub-title">Fecha: {{ entity.fecha|date("d/m/Y") }}</div>
		<form action="{{ path('pedido_update', {'id' : entity.id}) }}" method="post" >  						
			<div class="izquierda">	
				<!-- Formulario general de un pedido  -->
				<div class="box_ficha">											
												
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="2">Comprador</td>
					</tr>
					<tr>
						<td colspan="2"><strong>ID</strong>&nbsp;{{ entity.cliente.id }}</td>												
					</tr>
					<tr>
						<td colspan="2">{{ entity.cliente.nombre ~ ' ' ~ entity.cliente.apellidos }}</td>												
					</tr>
					<tr>
						<td colspan="2">Usuario</td>
					</tr>
					<tr>
						<td colspan="2"><strong>ID</strong>&nbsp;{{ entity.usuario.id }}</td>												
					</tr>
					<tr>
						<td colspan="2">{{ entity.usuario.nombre ~ ' ' ~ entity.usuario.apellidos }}</td>												
					</tr>
					<tr>
						<td colspan="2">Estado</td>												
					</tr>
					<tr>
						<td colspan="2">
							<select name="pedido_estado">
							{% for key, estado in estados %}
								<option value="{{ key }}" {{ key == entity.estado ? 'selected=selected' : '' }}>{{ estado }}</option>
							{% endfor %}
							</select>						
						</td>												
					</tr>
					
					<tr>
						<td>Importe</td>						
						<td>Pagado</td>		
					</tr>		
					<tr>
						<td><input type="text" name="pedido_importe" readonly="readonly" value="{{ entity.importe }}">&nbsp;&euro;</td>
						<td><input type="text" name="pedido_pagado" value="{{ entity.pagado }}">&nbsp;&euro;</td>
					</tr>					
				</table>					 								
				<button type="submit">Aceptar</button>																 	  					   			
				<button type="button" onclick="location.href='{{ path('menu_pedido') }}';" value="volver" name="volver">Volver</button>
			</div>
			<div class="derecha">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>Productos</th>
						<th>Cantidad</th>
					</tr>
					{% for producto in entity.productos %}
						<tr>
							<td>{{ producto.tipoProducto.nombre }} ({{ producto.foto.archivo }})</td>
							<td>{{ producto.cantidad }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>	
		</form>
				
	</div>							
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script type="text/javascript">
jQuery(document).ready(function() {
	 // Get the div that holds the collection of tags
	var collectionHolder = $('ul.categorias');
	// setup an "add a tag" link
	var $addCategoriaLink = $('<a href="#" class="add_categoria_link">A&ntilde;adir categoria</a>');
	var $newLinkLi = $('<li></li>').append($addCategoriaLink);
	    // add the "add a tag" anchor and li to the tags ul
	    collectionHolder.append($newLinkLi);

	    $addCategoriaLink.on('click', function(e) {	    	
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	        // add a new tag form (see next code block)
	        addCategoriaForm(collectionHolder, $newLinkLi);
	    });
	});

function addCategoriaForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');
    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

	 // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Eliminar</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

$(".del_categoria").click(function(event){
	// prevent the link from creating a "#" on the URL
    event.preventDefault();	
    var answer = confirm('¿Seguro que quieres eliminar la categoría?');
    if(answer){
		var index = $(this).attr("id");	 	     
		$('#li'+index).remove()
    }   					 
});		

</script>	
{% endblock %}