{% extends '::base.html.twig' %}
{% block title %}Pedidos{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Pedidos</div>
		<div class="izquierda">	
			{% if pedidos %}			    			
    			{# incluyo la plantilla con el listado de pedidos #}
    			{% include 'PedidoBundle:Default:widget/listado.html.twig' %}
    		{% else %}
    			<p>No hay pedidos para mostrar</p>	    			
    		{% endif %}    		
		</div>
		<div class="derecha">
			<button type="button" class="boton_big" onclick="location.href='{{ path('pedido_new_clubes') }}';" value="realizar_pedido" name="realizar_pedido">Realizar pedido</button>			   	
		</div>
		
	</div>							
{% endblock %}

{% block javascripts %}
	{{ parent() }}		
{% endblock %}

