{% extends '::base.html.twig' %}
{% block title %}Pedidos{% endblock %}
{% block stylesheets %}
	{{ parent() }}        	        	        
{% endblock %}

{% block contenido %}
	<div class="contenido">		
		<div class="title">Pedidos</div>		
    	{% if paso == 1 %}
    		{% include 'PedidoBundle:Default:widget/pedido_clubes.html.twig' %}
    	{% elseif paso == 2 %}
    		{% include 'PedidoBundle:Default:widget/pedido_categorias.html.twig' %}
    	{% elseif paso == 3 %}
    		{% include 'PedidoBundle:Default:widget/pedido_galerias.html.twig' %}
    	{% elseif paso == 4 %}
    		{% include 'PedidoBundle:Default:widget/pedido_fotos.html.twig' %}
    	{% elseif paso == 5 %}
    		{% include 'PedidoBundle:Default:widget/pedido_productos.html.twig' %}
    	{% endif %}
				
	</div>							
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery(document).ready(function() {
			$('.image-checkbox-container img').live('click', function(){
				alert("asasas");
			    if(!$(this).prev('input[type="checkbox"]').prop('checked')){
			        $(this).prev('input[type="checkbox"]').prop('checked', true).attr('checked','checked');
			        this.style.border = '4px solid #38A';
			        this.style.margin = '0px';
			    }else{
			        $(this).prev('input[type="checkbox"]').prop('checked', false).removeAttr('checked');
			        this.style.border = '0';
			        this.style.margin = '4px';
			    }
			});​	
		});
	</script>	
{% endblock %}